body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.categorias, .productos, .pedido, .mesas {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
}

h1, h2 {
    color: #333;
}

.grid-botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.grid-botones button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    min-width: 60px; /* Ancho mínimo para que los botones no sean demasiado pequeños */
}

.grid-botones button:hover {
    background-color: #218838;
}

.grid-botones button.rojo {
    background-color: #dc3545; /* Color rojo para mesas con pedidos */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total {
    font-weight: bold;
    color: #333;
}

.btn-ventas, .btn-gestion, .btn-mesas {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-ventas:hover, .btn-gestion:hover, .btn-mesas:hover {
    background-color: #0056b3;
}